QMainWindow {
    background-color: #E0E0E0;   
    font-family: 'Poppins';
}

QLabel {
    font-size: 16px;
    color: #333;
}

QPushButton {
    background-color: #A9E6A4;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}